* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button[disabled]{
    cursor: initial;
}



.counter-block {
    display: flex;
    align-items: center;
}

.buttons {
    margin-right: 8px;
}

.counter-button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.counter-lable {
}

.increment {
}

.decrement {
}

.counter-increment {
}

.counter-decrement {
}

.counter-value {
}